---
layout: default
---
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-8">
      {% include workhistory.html %}
      {% include education-history.html %}
    </div>
    <div class="col-md-4">
      {% include programming-skills.html %}
      <div class="deviter"></div>
      {% include publications.html %}
      <div class="deviter"></div>
      {% include presentations.html %}
      <div class="deviter"></div>
      {% include languages.html %}
    </div>
  </div>
</div>
