<h3 class="title with-icon"><span class="fa fa-file-powerpoint-o cat-title"></span> Presentations</h3>
<div class="grid-block">
  <ul class="list-unstyled list-strip">
    <li>
      <span class="badge badge-green badge-right-float" onclick="window.open('https://docs.google.com/presentation/d/1JIfhEIOsOw5n93S9h5o2H3jhshavvBnAYP1Toy2SAYo/edit?usp=sharing')" style="cursor: pointer">Link</span>
      UCSD Undergrad Research Conf.&nbsp;&nbsp;2015
    </li>
    <li>
      <span class="badge badge-green badge-right-float" onclick="window.open('https://docs.google.com/presentation/d/1fQPld0jNzS6Xvd5NrOeJa0s5Ju10BnHhE5fQt00QT3Y/edit?usp=sharing')" style="cursor: pointer">Link</span>
      Syslunch April 2015 
    </li>
  </ul>
</div>
